*:before, *:after {
  -webkit-transition: all .3s;
  transition: all .3s;
}

:root :focus {
  outline: solid 1px #ffffff;
}

html {
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
  scroll-behavior: smooth;
  background: #3d3d3d;
  color: #ffffff;
}

body {
  margin: 0 auto;
  width: 100%;
  font-size: 1em;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto;
      grid-template-columns: auto;
  -ms-grid-rows: 1fr auto 1fr;
      grid-template-rows: 1fr auto 1fr;
      grid-template-areas: "header" "main" "footer";
}

header {
  width: 100%;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: header;
  padding: 0.5em 0;
}

main {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: main;
}

footer {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: footer;
}

a {
  color: #f2c200;
}

a:visited {
  color: #ffe88c;
}

.nav {
  max-width: 1720px;
  margin: 0 auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr .75fr auto;
      grid-template-columns: 1fr .75fr auto;
  gap: 1em;
  padding: 1em;
}

.logo {
  -ms-grid-column: 1;
  grid-column: 1;
}

nav {
  -ms-grid-column: 3;
  grid-column: 3;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

nav .item {
  color: #ffde59;
  margin: 1em;
  padding: 0.25em;
  text-decoration: none;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ffde59), to(#f2c200));
  background-image: linear-gradient(#ffde59, #f2c200);
  background-repeat: no-repeat;
  background-position: bottom left;
  background-size: 0% 2px;
  -webkit-transition: background-size 500ms ease-in-out;
  transition: background-size 500ms ease-in-out;
}

nav .item:hover {
  background-size: 100% 2px;
}

nav .item[aria-current] {
  border-bottom: 1px solid #ffde59;
}

#navSwitch, .menu, .menuCheck {
  display: none;
}

.menu {
  -ms-grid-column: 1;
  grid-column: 1;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  width: 1em;
  height: 1em;
  cursor: pointer;
}

.menu span, .menu span:before, .menu span:after {
  position: absolute;
  width: 2em;
  height: 4px;
  background: #ffffff;
  border-radius: .2em;
}

.menu span {
  margin: 0.25em;
}

.menu span:after, .menu span:before {
  content: '';
  left: 0;
}

.menu span:before {
  top: -8px;
}

.menu span:after {
  top: 8px;
}

.menuCheck:checked + .menu:after {
  content: '';
}

.menuCheck:checked + .menu span {
  height: 0;
  width: 0;
}

.menuCheck:checked + .menu span:before, .menuCheck:checked + .menu span:after {
  top: 6px;
}

.menuCheck:checked + .menu span:before {
  -webkit-transform: rotate(225deg);
          transform: rotate(225deg);
}

.menuCheck:checked + .menu span:after {
  -webkit-transform: rotate(-225deg);
          transform: rotate(-225deg);
}

@media (max-width: 1025px) {
  .menu {
    display: inline-block;
  }
  nav {
    display: none;
  }
  .logo {
    display: -ms-grid;
    display: grid;
    -ms-grid-row: 1;
    grid-row: 1;
    -ms-grid-column: 1;
    grid-column: 1;
    margin: 0.25em;
  }
  #navSwitch:checked ~ nav {
    display: -ms-grid;
    display: grid;
    -ms-grid-row: 2;
    grid-row: 2;
    -ms-grid-column: 2;
    grid-column: 2;
    -ms-grid-row-align: center;
        align-self: center;
  }
}
